<!-- views/partials/head.ejs -->
<meta charset='UTF-8'>
<meta name='description' content='Robert Writhe is a full stack developer, illustrator, designer, accordionist from San Diego, California.'>
<meta name='keywords' content='robert writhe,robert barnett,full stack,developer,front end,back end,database,illustrator,illustrator,artist,accordionist,musician,accordion,writhers,writhe,music,punk,rock,horror,horrorpunk,rockabilly,san diego,socal,so cal'>
<meta name='author' content='Robert (Barnett) Writhe'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='/static/styles.css' />
<title>Robert "Writhe" Barnett | Full Stack Developer</title>