<div class='navbar'>
        <div><a href='/'>HOME</a></div>
        <div><a href='/about'>ABOUT</a></div>
        <div><a href='/developer'>PORTFOLIO</a></div>
        <div><a href='/resume'>RESUME</a></div>
        <div><a href='/contact'>CONTACT</a></div>
</div>