<div class='socialbar'>
    <div><a href='https://linkedin.com/in/robertwrithe/'>LinkedIn</a></div>
    <div><a href='https://github.com/robertwrithe'>Github</a></div>
    <div><a href='https://twitter.com/robertmakes'>Twitter</a></div>
    <!-- <div><a href='https://instagram.com/robertmakes'>Instagram</a></div>
    <div><a href='https://facebook.com/robertmakes'>Facebook</a></div> -->
</div>