<html>

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/nav %>
    </header>

    <main>
        <div class='content'>
            <div class='content-half fade-in one'>
                <div class='container'>
                    <h2>About</h2>
                    <p>
                        Robert is a full stack software development student at Origin Code Academy and self-taught,
                        freelance illustrator and graphic designer focused on programming, art, and where
                        the two intersect.
                        <br>
                        <br>
                        As a software developer, Robert is interested in front-end functionality, styling, and 
                        learning more about managing databases. Artistically, he aspires to illustrate books, comics, 
                        and collaborate with musicians to create promotional materials such as posters, merchandise, 
                        websites, and particularly album art.
                        <br>
                        <br>
                        Born and raised in San Diego, California, Robert keeps busy by playing the 
                        accordion and <a href='http://thewrithers.com'>performing in a band</a> with his friends.
                    </p>
                </div>
            </div>
            <div class='content-half fade-in two'>
                <img src='/css/roberthead.png' width='100%'>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/social %>
    </footer>

</body>

</html>