<html>

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class='content'>
      <div class='content-half fade-in one'>
        <img src='/static/roberthead.png' width='100%'>
      </div>
      <div class='content-half fade-in two'>
        <h1 style='margin-block-start: 0; margin-block-end: 0;'>ROBERT BARNETT</h1>
        <br>
        <h2>full stack developer</h2>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/social %>
  </footer>

</body>

</html>